{% extends "layout.html" %}
{% block pageScripts %}
<script>
$(document).ready(function(){
  $('#btnLogin').click(function() {
    $.ajax({
      type: "POST",
      url: '{{ url_for('processLogin') }}',
      data: {username: $('#username').val(), password:"0"},
      //success: alert('ok')
      //dataType: dataType
      success: function(msg){
        //alert(msg);   //Your resulting action
        var obj = jQuery.parseJSON(msg);
          $('#username').val(obj.username);
      }
    });
  });
});
</script>
{% endblock %}

{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <!--form action="{{ url_for('processLogin') }}" method=post-->
  <div>
    <dl>
      <dt>Username:
      <dd><input type=text id="username" name=username value="{{model.username}}"">
      <dt>Password:
      <dd><input type=password name=password>
      <dd><button id="btnLogin">Login</button>
    </dl>
  </div>
{% endblock %}
